<%# NAVBAR %>
<div class="d-flex justify-content-between items-align-center bg-secondary bg-gradient p-3">
  <div>
    <h1 class="text-white fw-bold fs-1"><%= @list.name %></h1>
  </div>
  <div>
    <div>
      <%= link_to "Add a bookmark", new_list_bookmark_path(params[:id]), class:"text-white fw-bolder fs-3 text-decoration-none" %>
    </div>
    <div class="text-end">
      <%= link_to "Back to lists", lists_path, class:"text-white fw-bolder fs-3 text-decoration-none" %>
    </div>
  </div>
</div>

<div class="container d-flex m-3">
  <div class="mx-2">
    <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
  <div>
    <% @bookmarks.each do |bookmark| %>
      <div class="notification opacity-75" >
        <div class="notification-content">
          <p><small><%= bookmark.movie.title %></small></p>
          <p><%= bookmark.comment %></p>
        </div>

        <div class="notification-actions">
          <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
